/* base */

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background-color: #ffe9f8;
  color: #303030;
}

body:first-child {
  position: absolute;
  bottom: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

h1 {
  padding: 10px;
  line-height: 1;
  background-color: #303030;
  color: #ddd;
}

h2 {
  padding: 10px;
  line-height: 1;
  background-color: #303030;
  color: #ddd;
}

h3 {
  padding: 10px;
  line-height: 1;
  background-color: #303030;
  color: #ddd;
}

article {
  margin: auto;
  padding: 30px;
  border: solid 1px #30303015;
}


/* global */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: #ff6699;
  font-weight: bold;
}

.button.white {
  color: #ffffff;
}

.buttonWrap {
  border-top: solid 1px #ff6699;
  padding: 10px;
}

.button.download {
  border: solid 1px #ffffff;
  width: 120px;
  height: 30px;
  color: #ffffff;
}

.button.back {
  border: solid 1px #ffffff;
  width: 160px;
  height: 30px;
  color: #ffffff;
}

#app h1 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

#app li {
  line-height: 1.5;
}

#app input[type="text"] {
  padding: 2px;
}

.command {
  font-size: 12px;
  cursor: pointer;
  color: rgb(231, 68, 68);
}

#app ul {
  padding: 0;
  list-style: none;
}

#app li > span.done {
  text-decoration: line-through;
  color: #bbb;
}

/* local */
.index-page header {
  margin-top: 10px;
  border-top: solid 2px #ff6699;
  padding: 10px 30px;
}

.index-page header .inner {
  display: flex;
  justify-content: center;
  margin: auto;
}

.index-page header .inner .description {
  position: relative;
  left: calc(100% - 325px);
  bottom: 30px;
  margin: 0px;
  border: solid 1px #303030;
  width: 320px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #303030;
  text-align: center;
}

.index-page main .first-view .news {
  width: 100%;
}

.index-page main .first-view .member-group {
  background-color: #fffbe3;
}

.index-page main .first-view .member-group .member-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.index-page main .first-view .member-group .member-item {
  display: flex;
}

.index-page main .first-view .member-group .member-item:nth-of-type(n+2) {
  margin-left: 30px;
}

.index-page main .first-view .member-group .button {
  width: 160px;
  height: 30px;
}

.index-page main .first-view .event-group {
  background-color: #fffbe3;
}

.index-page main .first-view .events-list {
  list-style: circle;
  margin: auto;
  padding: 15px;
  width: calc(100% - 160px);
}

.index-page main .share-group {
  border: solid 5px #ff6699;
  padding: 5px;
  background-color: #ffb6ce;
}

.index-page footer {
  background-color: #ff6699;
}

.index-page footer address {
  margin: auto;
  padding: 10px;
  max-width: 980px;
  width: calc(100% - 60px);;
  color: #ffffff;
}

.index-page footer address .copyright {
  color: inherit;
}

/* news-page */
.news-page .container {
  width: 100%;
}

.news-page .news-list {
  height: calc(100vh - 25px);
  background-color: #fffbe3;
}

.event-page .container {
  border: solid 1px #303030;
}

.event-page .date {
  padding: 10px 30px;
  background-color: #fffbe3;
}

.event-page .form {
  background-color: #fffbe3;
}

.event-page .dl-link-item {
  padding: 10px 30px;
  line-height: 1;
}

.event-page .dl-link-item:nth-of-type(n+2) {
  border-top: solid 1px #ff6699;
}

.event-page .form .dl-link-item label {
  display: flex;
  line-height: 1;
  height: 20px;
}

.event-page .form .dl-link-item label .text {
  margin-left: 20px;
}

.event-page .form .dl-link-item .error {
  color: #ff5e5e;
}

.event-page article > .button {
  margin-top: 30px;
}

.prism-jump31-page .container {
  border: solid 1px #303030;
}

.prism-jump31-page .date {
  padding: 10px 30px;
  background-color: #fffbe3;
}

.prism-jump31-page .form {
  background-color: #fffbe3;
}

.prism-jump31-page .dl-link-item {
  padding: 10px 30px 0px;
  line-height: 1;
}

.prism-jump31-page .dl-link-item:nth-of-type(n+2) {
  margin-top: 10px;
  border-top: solid 1px #ff6699;
}

.prism-jump31-page .form .dl-link-item label {
  display: flex;
  line-height: 1;
  height: 20px;
}

.prism-jump31-page .form .dl-link-item label .text {
  margin-left: 20px;
}

.prism-jump31-page .form .dl-link-item .error {
  color: #ff5e5e;
}

.prism-jump31-page article > .button {
  margin-top: 30px;
}

@media (min-width: 1025px){
  .event-page .dl-link-item .entering-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .event-page h1 {
    font-size: 60px;
  }
  .event-page .date {
    font-size: 60px;
  }
  .event-page h2 {
    font-size: 42px;
  }
  .event-page .main-head {
    font-size: 42px;
  }
  
  .event-page .title {
    font-size: 42px;
  }
  .event-page .dl-link-item .entering-form {
    margin: auto;
    flex-direction: column;
    width: calc(100% - 30px);
  }
  .event-page .form .dl-link-item label {
    justify-content: center;
    margin: 60px 0;
    height: 60px;
    width: 100%;
  }
  .event-page .form .dl-link-item label .text {
    width: 100%;
    height: 60px;
    font-size: 54px;
  }
  .event-page .form .dl-link-item .error {
    margin: 20px;
    font-size: 36px;
  }
  .button.download {
    margin: auto;
    width: 96%;
    height: 120px;
    font-size: 60px;
  }
  .button.back {
    margin: 60px auto auto;
    width: 96%;
    height: 120px;
    font-size: 60px;
  }
}